.flex-container {
  justify-content: center; 
  text-align: center;
  display: flex;
  flex-direction: row;
  
  height: 500px;
  width: 1850px;
}

.flex-container > div {
  background-color: rgb(22, 129, 31);
  margin: 8px;
  padding: 12px;
  font-size: 2em;
  justify-content: center;
  width: 250px;
  height: 450px;
  align-items: center;
}

body{
  background-color: rgb(161, 221, 221);

}

.kartina {
  align-items: center;
  background-color: rgb(41, 90, 28);
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 15px;
  outline: 3px solid black;
}

.kartina:hover {
  transition: 0.5s;
  transform: translate(-4px, 0);
  box-shadow: 10px 10px 5px rgba(27, 216, 58, 0.89); 
}

.menu{
  background-color: rgb(31, 97, 45);
  padding: 15px;
  text-align: center;
}

.button6{
 background-color: rgb(93, 199, 6);
 font-family: Arial, Helvetica, sans-serif;
 font-size: large;
 cursor: pointer;
}

.menu2{
  padding: 12px;
  font-size: large;
  background-color: rgb(29, 121, 37);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu3{
  background-color: rgb(161, 221, 221);
  font-size: 13px;
  font-family:cursive;
}